{% extends 'base/main.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label for="product_name">Product Name</label>
        {{form.product_name}}
    </div>
    <div>
        <label for="price">Price</label>
        {{form.price}}
    </div>
    <div>
        <label for="item_type">item_type</label>
        {{form.item_type}}
    </div>
    <div>
        <label for="image">Image:</label>
        {{form.image}}
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock content %}